*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;


}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position:relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    
}
.logo{
    width : 40px;
}
ul li{
    display: inline-block;
    list-style: none;
    

}
ul li a{
    color:#fff;

    text-decoration: none;
    margin: 0 5px;
    

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    color: #fff;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 17px;
    margin: 20px 0;

}
.content .text a{
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;

}
.content .image img{
    width: 180px;

}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);



}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;

}
.icons img:hover{
    transform: scale(1,2);
}
